server:
  port: 8080

keycloak:
  realm: ${SSO_REALM_NAME:redhat}
#    disable-trust-manager: true
  auth-server-url: ${SSO_AUTH_URL:https://sso-cetelem.apps.cluster-afdf.afdf.sandbox763.opentlc.com/auth}
  ssl-required: external
  resource: ${SSO_CLIENT_ID:springboot-microservice}
  use-resource-role-mappings: true
  bearer-only: true

##  enabled: false
##
### example mapping all with asterix
###  securityConstraints[0]:
###    authRoles[0]: admin
###    securityCollections[0]:
###      name: admin
###      patterns[0]: /test/*
##
##  ## 100% para configuracao (v1)

#  securityConstraints[0]:
#    authRoles[0]: admin
#    securityCollections[0]:
#      name: admin stuff
#      patterns[0]: /test/admin
#      patterns[1]: /test/all-user
#
#  securityConstraints[1]:
#    authRoles[0]: user
#    securityCollections[0]:
#      name: user stuff
#      patterns[0]: /test/user
#      patterns[1]: /test/all-user

#logging:
#  level:
#    org:
#      springframework:
#        web: DEBUG
